<%- include('../partials/header') %>

<form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="skill" value="<%= skill.skill %>"><br>
    <label>
        <input type="checkbox" name="acquire" <%= skill.acquire ? 'checked' : '' %>>
        Gained
    </label><br>
    <button type="submit">Update Skill</button>
</form>

<%- include('../partials/footer') %>