<%- include('../partials/header') %>

<h3>Skills as of <%= time %></h3>

<ul>
    <% skills.forEach(function(s) { %>
        <li>
            <form 
                action="/skills/<%= s.id %>?_method=DELETE"
                class="delete-form"
                method="POST"
            >
            <button type="submit">X</button>
            </form>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            -
            <%= s.acquire ? 'true' : 'false' %>
        </li>
    <% }); %>
</ul>
<a href="/skills/new">Add a Skill</a>    

<%- include('../partials/footer') %>