<%- include('../partials/header') %>

<h3><%= skill.skill %></h3>
<h3>Acquired: <%= skill.acquire ? 'Yes' : 'No' %></h3>
<a href="/skills/<%= skill.id %>/edit">Edit Skill</a>

<%- include('../partials/footer') %>
